name: Node CI

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 0
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install
        npm ci
        npm test
      env:
        CI: true
  
  release:
    needs: build
    permissions: 
      id-token: write
    if: github.ref == 'refs/heads/master'
    name: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5 
      with:
        token: ${{ secrets.ACTION_TOKEN }}
    - uses: fregante/setup-git-user@v2      
    - run: git config --global user.name "dependabot"
    - name: Use Node.js 22.x
      uses: actions/setup-node@v5
      with:
        node-version: 22.x
        registry-url: 'https://registry.npmjs.org'
    - name: npm-semver-publish
      uses: iuccio/npm-semver-publish-action@v1.11.0
      with:
        target-branch: 'master'
        provenance: true
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      
